/* You can add global styles to this file, and also import other style files */

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--surface-ground);
    color: var(--text-color);
  }
  
  .card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
  }
  
  